<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice System</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="light-gray-bg">
    <%- include('../views/components/partials/sidebar.ejs') %>
    <div class="content">
        <div class="container py-4">
            <h1 class="mt-4 mb-3">Client Details</h1>
            <button class="btn btn-primary mb-3 client-button" data-toggle="modal" data-target="#newClientModal" data-client="#">
                <i class="fas fa-plus"></i> Add new client
            </button>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center mt-2">
                    <div class="w-100 d-flex align-items-center py-2">
                        <div class="col-md-8">
                            <h6 class="mb-0">Name</h6>
                        </div>
                        <div class="col-md-4">
                            <h6 class="mb-0 me-1">Actions</h6>
                        </div>
                    </div>
                </li>
                <% clients.forEach((client, index) => { %>
                    <li class="list-group-item d-flex justify-content-between align-items-center mt-2">
                        <div class="w-100 d-flex justify-content-between align-items-center">
                            <span><%= index + 1 %>. <%= client %></span>
                            <div class="d-flex">
                                <button class="btn btn-primary btn-sm me-2 details-button" data-toggle="modal" data-target="#<%= client.replace(/ /g, '_') %>Modal" data-client="<%= client %>">
                                    <i class="fas fa-pen-to-square"></i>
                                </button>
                                <a href="/invoice/control/history/<%= client %>" class="btn btn-primary btn-sm me-2">History</a>
                                <a href="/invoice/control/createInvoice/<%= client %>" class="btn btn-primary btn-sm me-2">Create Invoice & Notes</a>
                                <a href="/invoice/control/sendEmail/<%= client %>" class="btn btn-primary btn-sm">Send Invoice</a>
                            </div>
                        </div>
                    </li>
                    <!-- Modals -->
                    <%- include('../views/components/modal/detailsModal/modal.ejs', {client: client}) %>
                    <%- include('../views/components/modal/newClientModal/modal.ejs') %>
                <% }); %>
            </ul>
        </div>
    </div>
    <%- include('../views/components/partials/footer.ejs') %>