<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice System</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="light-gray-bg">
    <%- include('../views/components/partials/sidebar.ejs') %>
    <div class="content">
        <div class="container py-4">
            <h1 class="mt-4 mb-3">Client Details</h1>
            <button class="btn btn-primary mb-3 client-button" data-toggle="modal" data-target="#newClientModal" data-client="#">
                <i class="fas fa-plus"></i> Add new client
            </button>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search clients" id="searchInput">
                <button class="btn btn-outline-secondary" type="button" onclick="searchClients()">
                    Search
                </button>
            </div>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center mt-2">
                    <div class="w-100 d-flex align-items-center py-2">
                        <div class="col-md-3 d-flex align-items-center">
                            <div>
                                <h6 class="mb-0">Name</h6>
                            </div>
                            <div>
                                <button onclick="sortClients('AZ')">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-up" viewBox="0 0 16 16" style="margin: 0; padding: 0;">
                                        <path d="M3.5 12.5a.5.5 0 0 1-1 0V3.707L1.354 4.854a.5.5 0 1 1-.708-.708l2-1.999.007-.007a.498.498 0 0 1 .7.006l2 2a.5.5 0 1 1-.707.708L3.5 3.707zm3.5-9a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5M7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1z"/>
                                    </svg>
                                </button>
                                <button onclick="sortClients('ZA')">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-down" viewBox="0 0 16 16" style="margin: 0; padding: 0;">
                                        <path d="M3.5 2.5a.5.5 0 0 0-1 0v8.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L3.5 11.293zm3.5 1a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5M7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1z"/>
                                    </svg>
                                </button>
                            </div>                            
                        </div>
                        <div class="col-md-5">
                            <h6 class="mb-0">Memo</h6>
                        </div>
                        <div class="col-md-4">
                            <h6 class="mb-0 me-1">Actions</h6>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="list-group" id="clientList">
                <% clients.forEach((client, index) => { %>
                    <li class="list-group-item d-flex justify-content-between align-items-center mt-2">
                        <div class="w-100 align-items-center col-md-3" data-name="<%= client %>">
                          <span><%= index + 1 %>. <%= client %></span>
                        </div>
                        <div class="dropdown col-md-5">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <%= getClientData(client, 'memo') ? getClientData(client, 'memo') : "Select New Memo"  %>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <% displayMemoList.forEach((memo) => { %>
                                    <li class="d-flex justify-content-between align-items-center mt-1">
                                        <a class="dropdown-item" href="#" data-name="<%= client %>"><%= memo %></a>
                                        <div class="d-flex align-items-center">
                                            <button class="btn btn-primary me-2 deleteMemo">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                                </svg>
                                            </button>
                                            <button class="btn btn-primary">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                                                </svg>
                                            </button>
                                        </div>
                                    </li>
                                <% }) %>
                                <li><hr class="dropdown-divider"></li>
                                <li><input class="newOptionInput"></li>
                            </ul>
                        </div>
                        
                        <div class="col-md-4">
                            <button class="btn btn-primary btn-sm me-2 details-button" data-toggle="modal" data-target="#<%= client.replace(/ /g, '_') %>Modal" data-client="<%= client %>">
                                <i class="fas fa-pen-to-square"></i>
                            </button>
                            <a href="/invoice/control/history/<%= client %>" class="btn btn-primary btn-sm me-2">Action</a>
                        </div>
                    </li>
                    <!-- Modals -->
                    <%- include('../views/components/modal/detailsModal/modal.ejs', {client: client}) %>
                    <%- include('../views/components/modal/newClientModal/modal.ejs') %>
                <% }); %>
            </ul>
        </div>
    </div>
    <%- include('../views/components/partials/footer.ejs') %>