<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice System</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include('../views/components/sidebar/sidebar.ejs') %>
    <div class="content">
        <div class="container">
            <h1 class="mt-2">Invoice</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="row">
                    <div class="col-md-2">
                        <div class="d-flex">
                            <label for="clientDetailsContent" class="mt-2 mr-2">To:</label>
                            <select id="clientDetailsContent" class="form-control">
                                <% clients.forEach(client => { %>
                                    <option><%= client %></option>
                                <% }); %>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="d-flex justify-content-center">
                            <p class="mt-2">御請求書</p>
                        </div>
                    </div>
                </div>                     
            <div>
                <p>Client information we will select from the Client page</p>
            </div>
            <div>
                <table class="table table-bordered">
                    <thead class="thead-dark">
                      <tr>
                        <th>御請求金額</th>
                        <th>¥</th>
                        <th>263560</th>
                      </tr>
                    </thead>
                  </table>
            </div>
            <div>
                <p>毎度お引き立てを賜りありがとうございます。</p>
                <p>下記のとおりご請求申し上げます。</p>
            </div>
        </div>
        <div>
            <table id="invoicetable" class="table table-bordered">
                <thead class="thead-dark">
                  <tr>
                    <th>項目</th>
                    <th>時間・個</th>
                    <th>Tax</th>
                    <th>単価</th>
                    <th>金額</th>
                  </tr>
                </thead>
                <tbody>
                    <% menu.forEach((item, index) => { %>
                        <tr>
                            <td contenteditable="true"><%= item.name %></td>
                            <td contenteditable="true"><%= item.details %></td>
                            <td contenteditable="true" class="tax"><%= item.tax %></td>
                            <td contenteditable="true" class="price"><%= item.price %></td>
                            <td contenteditable="false" class="total"></td>
                        </tr>
                    <% }); %>
                    <tr>
                        <td contenteditable="true" class="name"></td>
                        <td contenteditable="true"></td>
                        <td contenteditable="true" class="tax"></td>
                        <td contenteditable="true" class="price"></td>
                        <td contenteditable="false" class="total"></td>
                    </tr>
                    <tr>
                        <td contenteditable="true" class="name"></td>
                        <td contenteditable="true"></td>
                        <td contenteditable="true" class="tax"></td>
                        <td contenteditable="true" class="price"></td>
                        <td contenteditable="false" class="total"></td>
                    </tr>
                    <tr>
                        <td contenteditable="true" class="name"></td>
                        <td contenteditable="true"></td>
                        <td contenteditable="true" class="tax"></td>
                        <td contenteditable="true" class="price"></td>
                        <td contenteditable="false" class="total"></td>
                    </tr>
                    <tr>
                        <td contenteditable="true" class="name"></td>
                        <td contenteditable="true"></td>
                        <td contenteditable="true" class="tax"></td>
                        <td contenteditable="true" class="price"></td>
                        <td contenteditable="false" class="total"></td>
                    </tr>
                    <tr>
                        <td contenteditable="true" class="name lastFreeColumn"></td>
                        <td contenteditable="true"></td>
                        <td contenteditable="true" class="tax"></td>
                        <td contenteditable="true" class="price"></td>
                        <td contenteditable="false" class="total"></td>
                    </tr>
                    <tr>
                        <td contenteditable="true"></td>
                        <td contenteditable="true"></td>
                        <td contenteditable="true"></td>
                        <td contenteditable="true">小計</td>
                        <td contenteditable="true" class="subtotal"></td>
                    </tr>
                    <tr>
                        <td contenteditable="true">お振込先</td>
                        <td contenteditable="true"></td>
                        <td contenteditable="true"></td>
                        <td contenteditable="true">非課税対照</td>
                        <td contenteditable="true"></td>
                    </tr>
                    <tr>
                        <td contenteditable="true">楽天銀行</td>
                        <td contenteditable="true"></td>
                        <td contenteditable="true"></td>
                        <td contenteditable="true">課税対象</td>
                        <td contenteditable="true" class="totalTaxable"></td>
                    </tr>
                    <tr>
                        <td contenteditable="true">楽天銀行</td>
                        <td contenteditable="true"></td>
                        <td contenteditable="true"></td>
                        <td contenteditable="true">消費税</td>
                        <td contenteditable="true" class="saleTax"></td>
                    </tr>
                    <tr>
                        <td contenteditable="true">支店番号：252</td>
                        <td contenteditable="true"></td>
                        <td contenteditable="true"></td>
                        <td contenteditable="true">合計金額</td>
                        <td contenteditable="true" class="totalAmount"></td>
                    </tr>
                    <tr>
                        <td contenteditable="true">支店名：第二営業支店</td>
                        <td contenteditable="true"></td>
                        <td contenteditable="true"></td>
                        <td contenteditable="true"></td>
                        <td contenteditable="true"></td>
                    </tr>
                    <tr>
                        <td contenteditable="true">口座の種類：普通</td>
                        <td contenteditable="true"></td>
                        <td contenteditable="true"></td>
                        <td contenteditable="true"></td>
                        <td contenteditable="true"></td>
                    </tr>
                    <tr>
                        <td contenteditable="true">口座番号：7522113</td>
                        <td contenteditable="true"></td>
                        <td contenteditable="true"></td>
                        <td contenteditable="true"></td>
                        <td contenteditable="true"></td>
                    </tr>
                </tbody>
              </table>
              <textarea class="form-control rich-input" id="body" name="body" rows="4"></textarea>
            </div>
        </div>
    </div>
    <div class="container mt-12 d-flex justify-content-center">
        <button id="saveAndSubmitButton" class="btn btn-primary btn-lg invoice-button">Save</button>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/script.js"></script>
</body>
</html>
