<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice System</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="light-gray-bg">
    <nav class="sidebar">
        <div class="p-4">
            <ul class="list-unstyled">
                <li>
                    <a href="/invoice/client" class="nav-link">Client Page</a>
                </li>
                <li>
                    <a href="/invoice/control/history/<%= client %>" class="nav-link <%= currentRoute.startsWith('/invoice/control/history/') ? 'active' : '' %>" data-target="client">History</a>
                </li>    
                <li>
                    <a href="/invoice/control/createInvoice/<%= client %>" class="nav-link <%= currentRoute.startsWith('/invoice/control/createInvoice/') ? 'active' : '' %>" data-target="menu">Create Invoice & Notes</a>
                </li>
                <li>
                    <a href="/invoice/control/sendEmail/<%= client %>" class="nav-link <%= currentRoute.startsWith('/invoice/control/sendEmail/') ? 'active' : '' %>" data-target="menu">Send Invoice</a>
                </li>
            </ul>
            <div class="version">
                <p>Version: 1.0.0</p> <!-- Update with your version number -->
            </div>
        </div>
    </nav>
    <div class="content">
        <div class="container">
            <div id="loadingIndicator" style="display: none;">
                <p>Loading...</p>
            </div>
            <h1>Send Email</h1>
            <div class="form-group mt-3">
                <label for="toEmail">To:</label>
                <input type="text" class="form-control" id="toEmail" name="toEmail" value="<%= getClientData(client, 'emailAddress') %>" readonly>
            </div>
            <div class="form-group mt-3">
                <label for="titleInput">Title:</label>
                <input type="text" class="form-control" id="titleInput" name="titleInput">
            </div>
            <div class="form-group mt-3">
                <!-- <label for="messageType">Select Message Type:</label>
                <select class="form-control" id="messageType" name="messageType">
                    <% emailValues.forEach((message) => { %>
                        <option value="<%= message %>"><%= message %></option>
                    <% }); %>
                </select> -->
                <label for="myTextarea">Message:</label>
                <textarea class="form-control" rows="4" id="myTextarea" name="myTextarea"></textarea> 
                <div class="form-group mt-3 ">
                    <select class="form-control" id="attachmentSelect" name="attachmentSelect">
                        <% invoiceData.forEach((invoice, index) => { %>
                            <option value="<%= invoice %>"><%= invoice %></option>
                        <% }); %>
                    </select>
                </div>
            </div>
            <div class="d-flex justify-content-end align-items-center mt-4">
                <button type="button" class="btn btn-sm btn-primary" id="sendEmailButton">Send Email</button>
            </div>                         
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/script.js"></script>
</body>
</html>
